[submodule "ddp-go"]
	path = ddp-go
	url = https://github.com/JulianKropp/ddp-go
[submodule "go-socket.io-client"]
	path = go-socket.io-client
	url = https://github.com/ITLab-CC/go-socket.io-client
[submodule "golang-socketio"]
	path = golang-socketio
	url = https://github.com/JulianKropp/golang-socketio
[submodule "pad/server/etherpad-lite"]
	path = pad/server/etherpad-lite
	url = https://github.com/ether/etherpad-lite
[submodule "pad/Changeset-grpc"]
	path = pad/Changeset-grpc
	url = https://github.com/JulianKropp/Changeset-grpc
